
/*
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/
* {
  margin: 0;
  padding: 0;
}

.CardRopa{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 250px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

.card {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
}